{%- block prehtml %}
{% endblock prehtml -%}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" 
      content="{{ resource.meta.interval|default(default_interval) }}" />
    <meta charset="utf-8" />
    <meta name="author" content="{{ resource.meta.author }}" />
    <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
    <style type="text/css">
      body {
        {% if resource.meta.background %}
            background: {{ resource.meta.background }};
        {% endif %}
        font-family: Arial, Helvetica, Bitstream Vera Sans, sans-serif; 
        font-size: {{ resource.meta.font_size }};
        width: {{ resource.meta.page_width }};
        height: {{ resource.meta.page_height }};
        overflow: hidden;
      }
      div.widget {
        border: 2px solid red;
      }
    </style>
  </head>
  <body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    {%- block main scoped %}
    {%  endblock main -%}
  </body>
</html>
