{%- macro placed_image(image, width, left, top, class='map') %}
    <img src="images/{{ image }}" alt="{{ caller()|trim }}" style="
        position: absolute; width: {{ width }}; top: {{ top }}; left: {{ left }};" 
    />
{% endmacro -%}
