{%- macro rotate(framesets, seconds, width, height, left, top, class='map') -%}
  <iframe id="rotate0" class="rotate" src="" style="
    position: absolute; width: {{ width }}; height: {{ height }}; top: {{ top }}; left: {{ left }}; border: 0; overflow: hidden;" 
    onload="$('#rotate0').hide();">{{ caller() }}</iframe>
  <iframe id="rotate1" class="rotate" src="" style="
    position: absolute; width: {{ width }}; height: {{ height }}; top: {{ top }}; left: {{ left }}; border: 0; overflow: hidden;" 
    onload="$('#rotate1').hide();">{{ caller() }}</iframe>
  <script type="text/javascript">
  <!--
  rotateUrls = new Array();
  {% for frameset in framesets %}
  <?php 
      $response = file_get_contents("{{ frameset }}");
      $url_list = preg_split('/\s+/', trim($response));
      foreach($url_list as $url) {
          echo "rotateUrls.push(\"" . $url . "\")\n";
      }
  ?>
  {% endfor %}
  rotateUrlIndex = Math.floor(Math.random() * rotateUrls.length);
  $('#rotate0').hide();
  $('#rotate0').attr('src', rotateUrls[rotateUrlIndex]);
  var rotateFrameIndex = 0;
  function rotateContent() {
      rotateUrlIndex = (rotateUrlIndex + 1 + 
                        Math.floor(Math.random() * (rotateUrls.length - 1))
                       ) % rotateUrls.length;
      otherFrameIndex = (rotateFrameIndex + 1) % 2;
      $('#rotate' + otherFrameIndex).css('z-index', 0);
      $('#rotate' + rotateFrameIndex).css('z-index', 1);
      document.getElementById('rotate' + rotateFrameIndex).contentWindow.postMessage('start', '*');
      $('#rotate' + rotateFrameIndex).fadeIn(1000, function () {
          $('#rotate' + otherFrameIndex).hide();
          $('#rotate' + otherFrameIndex).attr('src', rotateUrls[rotateUrlIndex]);
          rotateFrameIndex = otherFrameIndex;
      });
  } 
  setTimeout(function () {
      rotateContent();
      setInterval(rotateContent, {{ seconds }} * 1000);
  } , 2000);
  //-->
  </script>
{%- endmacro -%}
